<div class="form">
    <h1>Account statement</h1><br>
    <form>
        Account Id:<input type="text"><br>
        <br> Start date*:<input type="date"><br>
        <br> End date*:<input type="date"><br>
        <br>
        <p style="color: red;">
            (*)fields are mandatory
        </p>

        <button type="submit" name="submit">Submit</button> <br>

        <br>
        <table>
            <tr>
                <th>Transaction Id</th>
                <th>Discription</th>
                <th>Date(YYYY-MM-DD)</th>
                <th>Amount</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </table>
        <button type="button" name="Download as Pdf">Download as Pdf file</button><button type="button" name="download as excel file">Download as Excel file</button>

    </form>
</div>