{% extends "layout.html" %}

{% block title %} Account Status {% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p> {{ msg }} </p>
        {% endfor %}
    {% endif %}
{% endwith%}

<div class="form">

    <h1>Account Status</h1><br>
    <table>
        <tr>
            <th>Customer Id</th>
            <th>Account Id</th>
            <th>Account Type</th>
            <th>Account Status</th>
            <th>Message</th>
            <th>Balance</th>
            <th>Last Updated</th>
            <th>Operations</th>
        </tr>
        {% for account in accounts %}
        <tr>
            <th> {{ account.cust_id }} </th>
            <th> {{ account.id }} </th>
            <th> {{ account.acnt_type }} </th>
            <th> {{ account.acnt_status }} </th>
            <th> {{ account.acnt_msg }} </th>
            <th> {{ account.bal }}</th>
            <th> {{ account.date }} </th>
            <th> <a href="#">Refresh</a> </th>
        </tr>
        {% endfor %}
    </table>
    <br>
    <button type="submit" value="Refresh the list">Refresh the list</button>
</div>

{% endblock %}