{% extends "layout.html" %}

{% block title %} Account Status {% endblock %}

{% block content %}

<div class="form">

    <h1>Account Status</h1><br>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p> {{ msg }} </p>
            {% endfor %}
        {% endif %}
    {% endwith%}

    <table>
        <tr>
            <th>Customer Id</th>
            <th>Account Id</th>
            <th>Account Type</th>
            <th>Account Status</th>
            <th>Message</th>
            <th>Balance</th>
            <th>Last Updated</th>
            <th>Operations</th>
        </tr>
        {% for account in accounts %}
        <tr>
            <td> {{ account.cust_id }} </td>
            <td> {{ account.id }} </td>
            <td> {{ account.acnt_type }} </td>
            <td> {{ account.acnt_status }} </td>
            <td> {{ account.acnt_msg }} </td>
            <td> {{ account.bal }}</td>
            <td> {{ account.date }} </td>
            <td> <a href="{{ url_for('account_status') }}">Refresh</a> </td>
        </tr>
        {% endfor %}
    </table>
    <br>

    <form action="{{ url_for('account_status') }}">
    <button type="submit" value="Refresh the list">Refresh the list</button>
    </form>
</div>

{% endblock %}