{% extends "layout.html" %} {% block title %} Create Account {% endblock %} {% block content %} {% with messages = get_flashed_messages() %} {% if messages %} {% for msg in messages %}
<p> {{ msg }} </p>
{% endfor %} {% endif %} {% endwith%}
<style>
    input {
        position: absolute;
        left: 150px;
    }
    
    select {
        position: absolute;
        left: 150px;
    }
</style>
<div class="form">
    <h1 id="cst_head">Create Account</h1>
    <form action="" method="POST">
        <label for="cust_id">Customer id*</label>
        <input type="text" name="cust_id"><br><br>
        <label for="account_type">Account type*</label>
        <select id="Account type" name="account_type">
            <option value="Savings">Savings</option>
            <option value="Current">Current</option>
        </select><br><br>
        <label for="Deposit amount">Deposit amount*</label>
        <input type="number" id="amount" name="deposit_amount"><br><br>
        <pre>(*)Fields are compulsary</pre>
        <button class="btn" type="submit">Submit</button>
    </form>

</div>

{% endblock %}