{% extends "layout.html" %}

{% block title %} Customer Status {% endblock %}

{% block content %}


<div class="status">
    <h1>Customer Status</h1><br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p> {{ msg }} </p>
            {% endfor %}
        {% endif %}
    {% endwith%}
    <table>
        <tr>
            <th> Customer Id </th>
            <th> Customer SSN Id </th>
            <th> Name </th>
            <th> Age </th>
            <th> Status </th>
            <th> Message </th>
            <th> Last Updated </th>
            <th> Operations </th>
            <th> View Profile </th>
        </tr>
        {% for customer in customers %}
        <tr>
            <td> {{ customer.id }} </td>
            <td> {{ customer.ssn_id }} </td>
            <td> {{ customer.cname }}</td>
            <td> {{ customer.age }}</td>
            <td> {{ customer.cust_status }}</td>
            <td> {{ customer.cust_msg }}</td>
            <td> {{ customer.date }} </td>
            <td> <a href="{{ url_for('customer_status') }}">Refresh</a> </td>
            <td> <a href="">View Profile</a> </td>
        </tr>
        {% endfor %}

    </table>
    <br>
    <button type="submit" value="Refresh the list">Refresh the list</button></div>

{% endblock %}
