{% extends "layout.html" %} 

{% block title %} Delete Account {% endblock %} 

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p> {{ msg }} </p>
        {% endfor %}
    {% endif %}
{% endwith%}

<style>
    input {
        position: absolute;
        left: 150px;
    }
    
    select {
        position: absolute;
        left: 150px;
    }
</style>

<div class="form">

    <h1>Delete Account</h1>
    <form action="" method="POST">
        <label for="account_id">Account ID</label>
        <input type="number" name="account_id"><br><br><br>
        <label for="Account Type">Account Type</label>
        <select id="Account ID" name="account_type">
            <option value="Savings">Savings</option>
            <option value="Current">Current</option>
        </select><br><br>
        <button type="Delete Account">Delete Account</button>
    </form>

</div>

{% endblock %}