{% extends "layout.html" %} {% block title %} Delete Account {% endblock %} {% block content %} {% with messages = get_flashed_messages() %} {% if messages %} {% for msg in messages %}
<p> {{ msg }} </p>
{% endfor %} {% endif %} {% endwith%}
<style>
    input {
        position: absolute;
        left: 150px;
    }
    
    select {
        position: absolute;
        left: 150px;
    }
</style>
<div class="form">

    <h1>Delete Account</h1>
    <form>
        <label for="Account ID">Account ID</label>
        <select id="Account ID" name="Account ID">
                <option value="type1">type1</option>
                <option value="type2">type2</option>
                <option value="type3">type3</option>
                <option value="type4">type4</option>
            </select><br><br>
        <label for="Account Type">Account Type</label>
        <input type="text" name="id"><br><br><br>
        <button type="Delete Account">Delete Account</button>
    </form>

</div>

{% endblock %}