{% with messages = get_flashed_messages() %} {% if messages %} {% for msg in messages %}
<p> {{ msg }} </p>
{% endfor %} {% endif %} {% endwith%}
<style>
    input {
        position: absolute;
        left: 150px;
    }
    
    select {
        position: absolute;
        left: 150px;
    }
</style>
<div class="form">
    <p> Register as an employee </p>
    <form action="" method="POST">
        <label for="email">Email ID</label>
        <input type="email" name="email" required><br><br>
        <label for="uname">Username</label>
        <input type="text" name="uname" required minlength="8"><br><br>
        <label for="pass">Password</label>
        <input type="password" name="pass" required minlength="8"><br><br>
        <label for="cpass">Confirm Password</label>
        <input type="password" name="cpass" required minlength="8"><br><br>
        <input type="submit" value="Register">
    </form>
</div>