{% with messages = get_flashed_messages() %} {% if messages %} {% for msg in messages %}
<p> {{ msg }} </p>
{% endfor %} {% endif %} {% endwith%}
<div class="form">
    <form action="" method="POST">
        <label for="email">Email ID</label>
        <input type="email" name="email" required><br>
        <label for="uname">Username</label>
        <input type="text" name="uname" required minlength="8"><br>
        <label for="pass">Password</label>
        <input type="password" name="pass" required minlength="8"><br>
        <label for="cpass">Confirm Password</label>
        <input type="password" name="cpass" required minlength="8"><br>
        <input type="submit" value="Register">
    </form>
</div>