{% extends "layout.html" %} 
{% block title %} Search Customer {% endblock %} 

{% block content %} 
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for msg in messages %}
                 <p> {{ msg }} </p>
            {% endfor %}
        {% endif %}
    {% endwith%}

<style>
    input {
        position: absolute;
        left: 150px;
    }
</style>

<div class="form">
    <h1> Search customer </h1>
    <form action="" method="POST">
        <label for="ssn_id">SSN ID</label>
        <input type="text" name="ssn_id"><br><br>
        <p style="text-align: center;">OR</p><br>
        <label for="customer_id">Customer ID</label>
        <input type="text" name="customer_id"><br><br>
        <button class="btn" type="submit">Search</button>
    </form>
</div>

{% endblock %}