<style>
    input {
        position: absolute;
        left: 150px;
    }
    
    select {
        position: absolute;
        left: 150px;
    }
</style>
<div class="form">
    <h1>Transfer Money</h1>
    <form>
        <label for="id">Customer ID</label>
        <input type="text" name="id"><br><br>
        <label for="Account">Source Account Type</label>
        <select id="Account" name="Account Type">
                 <option value=""></option>
                <option value="Type1">Type1</option>
                <option value="Type2">Type2</option>
                <option value="Type3">Type3</option>
                <option value="Type4">Type4</option>
            </select><br><br>
        <label for="Account">Target Account Type</label>
        <select id="Account" name="Account Type">
                <option value=""></option>
                <option value="Type1">Type1</option>
                <option value="Type2">Type2</option>
                <option value="Type3">Type3</option>
                <option value="Type4">Type4</option>
            </select><br><br>
        <label for="Amount">Transfer Amount</label>
        <input type="Number" name="id"><br><br>
        <button type="Transfer">Transfer</button>
    </form>

</div>