{% extends "layout.html" %}

{% block title %} Transfer Amount {% endblock %}

{% block content %}
<style>
    input {
        position: absolute;
        left: 150px;
    }
    
    select {
        position: absolute;
        left: 150px;
    }
</style>
<div class="form">
    <h1>Transfer Money</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p> {{ msg }} </p>
            {% endfor %}
        {% endif %}
    {% endwith%}

    <form>
        <label for="cust_id">Customer ID</label>
        <input type="number" name="cust_id"><br><br>
        <label for="src_acnt_type">Source Account Type</label>
        <select id="Account" name="src_acnt_type">
                 <option value=""></option>
                <option value="Type1">Savings</option>
                <option value="Type2">Current</option>
            </select><br><br>
        <label for="tar_acnt_type">Target Account Type</label>
        <select id="Account" name="tar_acnt_type">
                <option value=""></option>
                <option value="Type1">Savings</option>
                <option value="Type2">Current</option>
            </select><br><br>
        <label for="amount">Transfer Amount</label>
        <input type="number" name="amount"><br><br>
        <button type="Transfer">Transfer</button>
    </form>

</div>

{% endblock %}