<style>
    input {
        position: absolute;
        left: 150px;
    }
    
    select {
        position: absolute;
        left: 150px;
    }
</style>
<div class="form">
    <h1 id="cst_head">Update Customer </h1>
    <form action="" method="POST">
        <label for="ssn id">Customer SSN ID:   </label> <label> {{ customer.ssn_id }} </label> <br><br>
        <label for="id">Customer ID:      </label> <label> {{ customer.id }} </label><br><br>
        <label for="Name">Old Customer Name:      </label> <label> {{ customer.cname }} </label><br><br>
        <label for="New customer Name*">New customer Name*</label>
        <input type="text" name="id"><br><br>
        <label for="Old Address">Old Address:     </label> <label> {{ customer.address }} </label> <br><br>
        <label for="New Address*">New Address*</label>
        <input type="text" name="id"><br><br>
        <label for="Old Age">Old Age:      </label> <label> {{ customer.age }} </label><br><br>
        <label for="New Age*">New Age*</label>
        <input type="text" name="id"><br><br>
        <pre>(*)Fields are compulsary</pre>
        <button class="btn" type="Update">Update</button>
    </form>

</div>