<header>
    <div class="heading">
        <h1 id="logo" style="color: yellow; display: inline-flex;">FedChoice&nbsp;<div
                style="color: white; display: inline-flex;">Bank</div>
        </h1>
    </div>
    <div class="links">
        <nav class="navbar">

            <div class="home"><a href="#">Home</a></div>
            <div class="dropdown">
                <button class="dropbtn">Customer Management
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('create_customer') }}">Create Customer Account</a>
                    <a href="{{ url_for('search_customer') }}">Search Customer</a>
                    <a href="{{ url_for('delete_customer') }}">Delete Customer Account</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Account Management
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Status Details
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Account Operations
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>

            <div class="logout"><a href="{{ url_for('logout') }}">Logout</a></div>

        </nav>
    </div>
</header>