<header>
    <div class="heading">
        <h1 id="logo" style="color: yellow; display: inline-flex;">FedChoice&nbsp;
            <div style="color: white; display: inline-flex;">Bank</div>
        </h1>
    </div>
    <div class="links">
        <nav class="navbar">

            <div class="home"><a href="{{ url_for('home') }}">Home</a></div>
            <div class="dropdown">
                <button class="dropbtn">Customer Management
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('create_customer') }}">Create Customer</a>
                    <a href="{{ url_for('search_customer') }}">Search Customer</a>
                    <a href="{{ url_for('delete_customer') }}">Delete Customer</a>
                    <a href="{{ url_for('update_customer') }}">Update Customer</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Account Management
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('create_account') }}">Create Account</a>
                    <a href="{{ url_for('search_accounts') }}">Search Accounts</a>
                    <a href="{{ url_for('delete_account') }}">Delete Account</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Status Details
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('customer_status') }}"> Customer Status </a>
                    <a href="{{ url_for('account_status') }}"> Account Status </a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Account Operations
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('deposit') }}">Deposit Amount</a>
                    <a href="{{ url_for('withdraw') }}">Withdraw Amount</a>
                    <a href="{{ url_for('transfer') }}">Transfer Amount</a>
                    <a href="{{ url_for('account_statement') }}">Account Statement</a>
                </div>
            </div>

            <div class="logout"><a href="{{ url_for('logout') }}">Logout</a></div>

        </nav>
    </div>
</header>